<div class="middleCetnterdContainer">
    <div class="ui text container" style="max-width: 400px !important;">
        <div class="ui segment grey inverted">
            <h2 class="ui teal inverted header centered">
                <div class="content">Sign Up</div>
            </h2>
            <div class="ui hidden divider"></div>
            <form class="ui large form" [formGroup]="singUpForm" (ngSubmit)="onSubmit()">

                <app-input label="User Name" [inputControl]="userNameControl"></app-input>

                <div class="ui hidden divider"></div>

                <app-input label="Password" [inputControl]="passwordControl"></app-input>

                <div class="ui hidden divider"></div>

                <app-input label="Password Confirmation" [inputControl]="passwordConfirmnationControl"></app-input>

                <div class="ui hidden divider"></div>

                <button class="ui button huge submit fluid teal">Sign Up</button>
            </form>
        </div>

        <div class="ui center aligned container">
            <div class="ui red basic label fluid" *ngIf="singUpForm.errors?.['userNameTaken']">
                This user name is not available
            </div>

            <div class="ui red basic label fluid" *ngIf="singUpForm.errors?.['passwordMismatch']">
                Passwords do not match
            </div>
        </div>
    </div>
</div>