<div class="ui segment">
    <form class="ui form" [formGroup]="changeNoteForm">

        <div class="two wide field">
            <app-input label="Id" [inputControl]="getControl('id')"></app-input>
        </div>

        <div class="field">
            <app-input label="Change Description" [inputControl]="getControl('changeDescription')"
                [textarea]="true"></app-input>
        </div>

        <div class="fields">
            <div class="three wide field">
               <app-input label="Date Created" [inputControl]="getControl('dateCreated')"
                   controlType="date"></app-input>
           </div>
   
            <div class="four wide field">
                <app-input label="Created By" [inputControl]="getControl('createdBy')"></app-input>
            </div>
        </div>
    </form>
</div>