<div class="ui segment">
    <form class="ui form" [formGroup]="changeNoteForm">

        <div class="two wide field">
            <app-input label="Id" [inputControl]="getControl('id')"></app-input>
        </div>

        <div class="field">
            <app-input label="Change Description" [inputControl]="getControl('changeDescription')"
                [textarea]="true"></app-input>
        </div>

        <div class="fields">
            <div class="three wide field">
                <app-input label="Date Created" [inputControl]="getControl('dateCreated')"
                    controlType="date"></app-input>
            </div>

            <div class="eight wide field">
                <app-user-input label="Created By" [inputControl]="getControl('createdBy')"></app-user-input>
            </div>
        </div>
        <button (click)="doit()">Change</button>
    </form>
</div>