<div class="three fields">
    <div class="field">
        <div>
            <label>Selector</label>
        </div>
        <app-selector [selectors]="selectors" [inputControl]="selectorControl"></app-selector>
    </div>
    <div class="field" *ngIf="showDateFromControl">
        <app-input label="{{labelcontent}}" controlType="date" [inputControl]="dateFromFormControl"></app-input>
        <div class="ui pointing red basic label" *ngIf="dateFromFormControl.errors?.['dateFromNull']">
            Must be a valid date
        </div>
    </div>
    <div class="field" *ngIf="showToControl">
        <app-input label="To" controlType="date" [inputControl]="dateToFormControl"></app-input>
        <div class="ui pointing red basic label" *ngIf="dateToFormControl.errors?.['dateToNull']">
            Must be a valid date
        </div>
    </div>
</div>