<div class="ui segment">
    <h4 class="ui dividing header teal">Product</h4>

    <form class="ui form">
        <div class="fields">
            <div class="two wide field">
                <app-input [inputControl]="getControl('id')" label="Id"></app-input>
            </div>
            <div class="three wide field">
                <app-input [inputControl]="getControl('partNumber')" label="Part Number"></app-input>
            </div>
            <div class="five wide field">
                <app-input [inputControl]="getControl('productName')" label="Product Name"></app-input>
            </div>
            <div class="two wide field">
                <app-input [inputControl]="getControl('revision')" label="Revision"></app-input>
            </div>
        </div>

        <div class="fields">
            <div class="four wide field">
                <app-input [inputControl]="getControl('dateCreated')" label="Date Created"
                    controlType="date"></app-input>
            </div>
            <div class="four wide field">
                <app-input [inputControl]="getControl('dateModified')" label="Date Modified"
                    controlType="date"></app-input>
            </div>
        </div>

        <div class="fields">
            <div class="four wide field">
                <app-input [inputControl]="getControl('createdBy')" label="Created By"></app-input>
            </div>
            <div class="four wide field">
                <app-input [inputControl]="getControl('modifiedBy')" label="Modified By"></app-input>
            </div>
        </div>

        <h4 class="ui dividing header teal">Inspection Plan</h4>
        <!-- <app-input [inputControl]="getControl('inspectionPlanId')" label="Inspection Plan"></app-input> -->
    </form>
</div>