<div class="search_form ">
    <form class="ui form" [formGroup]="productSearchForm" (ngSubmit)="onSubmit()">
        <div class="fields">
            <div class="three wide field">
                <app-input label="Part Number" [inputControl]="getControl('partNumber')"></app-input>
            </div>
            <div class="four wide field">
                <app-input label="Name" [inputControl]="getControl('productName')"></app-input>
            </div>
            <div class="two wide field">
                <app-input label="Revision" [inputControl]="getControl('revision')"></app-input>
            </div>
        </div>

        <h4 class="ui dividing header grey"></h4>
        <h4 class="ui header teal">Date Created</h4>

        <app-dynamic-date-filter [selectorControl]="getControl('dateCreatedSelector')"
            [dateFromControl]="getControl('dateCreatedFrom')"
            [dateToControl]="getControl('dateCreatedTo')"></app-dynamic-date-filter>

        <h4 class="ui dividing header grey"></h4>
        <h4 class="ui header teal">Date Modified</h4>

        <app-dynamic-date-filter [selectorControl]="getControl('dateModifiedSelector')"
            [dateFromControl]="getControl('dateModifiedFrom')"
            [dateToControl]="getControl('dateModifiedTo')"></app-dynamic-date-filter>

        <h4 class="ui dividing header grey"></h4>
        <h4 class="ui header teal">User Data</h4>

        <div class="fields">
            <div class="eight wide field">
                <app-user-input label="Created by" [inputControl]="getControl('createdBy')"></app-user-input>
            </div>
            <div class="eight wide field">
                <app-user-input label="Modified by" [inputControl]="getControl('modifiedBy')"></app-user-input>
            </div>
        </div>
        <button class="ui button teal">Search</button>
    </form>
</div>

<div>
    <h3 class="ui header grey">Products found: {{products.length}}</h3>
</div>

<div>
    <app-product-search-result [products]="products"></app-product-search-result>
</div>