.app-container {
    position: relative;
    min-height: 90vh;
    overflow: hidden;
}

/* hidden sidebar */
.message-board {
    position: fixed;
    bottom: 0;
    right: -240px;
    /* start hidden offscreen */
    width: 240px;
    height: 90%;
    background: #026d6d;
    color: white;
    padding: 1rem;
    transition: right 0.3s ease;
    z-index: 1000;
    border-radius: 10px;
}

.message-board.open {
    right: 0;
    /* slide in */
}

/* invisible trigger area */
.hover-zone {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    /* only 10px wide */
    height: 90%;
    cursor: pointer;
    z-index: 999;
}


.scrollable {
    overflow-y: scroll;
}