<div class="ui secondary menu grey inverted">
    <a routerLink="product-management/search" routerLinkActive="active" class="item">
        Product-Management
    </a>
    <a routerLink="change-management" routerLinkActive="active" class="item">
        Change-Management
    </a>
    <a routerLink="inspection-management" routerLinkActive="active" class="item">
        Inspection-Management
    </a>
    <a class="item">
        Settings
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item">
            Logout
        </a>
    </div>
</div>
<router-outlet></router-outlet>