<div class="ui stackable grid">
    <div class="two wide column">
        <div class="ui vertical fluid tabular menu teal inverted">
            <a class="item" routerLink="search" routerLinkActive="active">
                Search
            </a>
            <a class="item" routerLink="create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Create
            </a>
            <a class="item" routerLink="modify" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Modify
            </a>
        </div>
    </div>
    <div class="ten wide column">
        <router-outlet></router-outlet>
    </div>
</div>